@{
    ViewBag.Title = "Home";
}

<div id="titulo" class="jumbotron text-center">
    <div class="container-fluid">
        <h1>WebThings</h1>
        <h3>El inicio de un gran comienzo, empezando por el inicio.</h3>
    </div>
</div>

<div class="container-fluid">
    <div id="down">
        Contenido de abajo Alejandro
    </div>
</div>
